:root {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

.container {
  --padding-x: 1.5rem;
  width: 100%;
  padding-right: calc(var(--padding-x) * 0.5);
  padding-left: calc(var(--padding-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * 0);
  margin-right: calc(-0.5 * 1.5rem);
  margin-left: calc(-0.5 * 1.5rem);
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col {
  flex: 1 0;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--color);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: var(--true-white);
  /* -webkit-text-size-adjust: 100%; */
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

.ghost-button {
  position: absolute;
  bottom: 86px;
  border-radius: 20px;
  z-index: 6;
  background-color: transparent;
  border-color: #ffffff;
}

.ghost-button.mini {
  width: 100px;
  padding: 20px;
  bottom: 20px;
  left: -20px;
  background: #ff416c;
  position: absolute;
  z-index: 11;
  clip-path: polygon(90% 10%, 90% 20%, 90% 70%, 50% 100%, 10% 70%, 10% 10%);
  transform: rotate(-90deg);
}

.hidden {
  display: none;
}

form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}
p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}
